:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    /* 渐变色 */
    --vp-home-hero-name-background: linear-gradient(
            135deg,
            #FFCC00 20%,
            #000000 100%
    );
    /* 纯色 */
    /* --vp-home-hero-name-background: red; */
}

:root {
    /* 图标背景 */
    /* 设置线性渐变 */
    --vp-home-hero-image-background-image: linear-gradient(
            135deg,
            #FAE450 20%,
            #FFCC00 100%
    );

    /* 设置模糊度 */
    --vp-home-hero-image-filter: blur(150px);
}

:root {
    /* 主题色 */
    --vp-c-indigo-1: #FFCC00; /* 主题色 */
    --vp-c-indigo-2: #FCC46D; /* 主题色-hover */
    --vp-c-indigo-3: #FAE450;
}

:root {

    /* brand按钮 */
    /* 正常 */
    --vp-button-brand-text: #383838; /* 文字色 */
    /*--vp-button-brand-border: green; !* 边框色 *!*/
    /*--vp-button-brand-bg: #43aefc; !* 背景色 *!*/

    /* hover状态 */
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-border: #75c4fe;
    --vp-button-brand-hover-bg: #75c4fe;

    /* active状态-点击 */
    /*--vp-button-brand-hover-text: gold;*/
    /*--vp-button-brand-hover-border: #43aefc;*/
    /*--vp-button-brand-active-bg: #43aefc;*/
}